.map {
    width: 100vw;
    height: 100vh;
    /* background-image: url(../../img/2_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

}
.modal_map_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;
    /* background: rgba(0, 0, 0, 0.751); */
    width: 100%;
    height: 100%;
}



.modal_map_conteiner {
    position: relative;
    display: flex;
    justify-content: center;
    width: 960px;
    height: 720px;
    background: rgb(255, 255, 255);
    border-radius: 20px;


}

h3{
    color: red;
    border: 3px solid red;
    padding: 10px;
}

.modal_map_bg {
    background-color: white;
    border-radius: 20px;
    max-width: 960px;
    max-height: 720px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal_map_bg img{
    max-width: 880px;
    max-height: 600px;
    margin: 70px;
    
}

.modal_map_content {
    position: absolute;
    background-color: #FED494;
    border-radius: 30px;
    padding: 10px 30px;
    bottom: -6%;
    max-width: 620px;
}

.modal_map_content h2{
    font-family: 'Luckiest Guy';
    font-weight: 400;
    font-size: 32px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.modal_map_content p{
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.map_wrapper {
    width: 100vw;
    height: 100vh;
    /* background-color: rgba(0, 0, 0, 20%); */
}

.map_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.map_block svg {
    fill: red;
}

.map_block{
    position: relative;
}
.map_block h1 {
    font-family: 'Luckiest Guy';
    font-weight: 400;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-left: 50px;
    padding-top: 25px;
    white-space: nowrap;

}

.point_1 {
    position: absolute;
    top: 50%;
    left: 50%; 
    cursor: pointer;
}
.point_1 svg{
    position: relative;
    transition: all 0.5s ease;
}

.point_1 img {
    display: none;
    position: absolute;
    top: -340%;
    left: -165%;
    transition: all 0.5s ease;
    z-index: 2;
}

.point_1:hover  img {
    display: flex;
    transition: all 0.5s ease;
}
.point_1:hover  svg {
    fill: rgb(64, 231, 209);

}

.point_2 {
    position: absolute;
    top: 20%;
    left: 40%; 
    cursor: pointer;

}

.point_2 svg{
    position: relative;
    transition: all 0.5s ease;
}

.point_2 img {
    display: none;
    position: absolute;
    top: -340%;
    left: -165%;
    transition: all 0.5s ease;
    z-index: 2;
}

.point_2:hover img {
    display: flex;
    transition: all 0.5s ease;
}
.point_2:hover svg {
    fill: rgb(64, 231, 209);
}


.point_3 {
    position: absolute;
    top: 80%;
    left: 60%; 
    cursor: pointer;

}

.point_3 svg{
    position: relative;
    transition: all 0.5s ease;
}

.point_3 img {
    display: none;
    position: absolute;
    top: -340%;
    left: -165%;
    transition: all 0.5s ease;
    z-index: 2;
}

.point_3:hover img {
    display: flex;
    transition: all 0.5s ease;
}
.point_3:hover svg {
    fill: rgb(64, 231, 209);
}

.point_4 {
    position: absolute;
    top: 20%;
    left: 70%; 
    cursor: pointer;

}


.point_4 svg{
    position: relative;
    transition: all 0.5s ease;
}

.point_4 img {
    display: none;
    position: absolute;
    top: -340%;
    left: -165%;
    transition: all 0.5s ease;
    z-index: 2;
}

.point_4:hover img {
    display: flex;
    transition: all 0.5s ease;
}
.point_4:hover svg {
    fill: rgb(64, 231, 209);
}
.point_5 {
    position: absolute;
    top: 60%;
    left: 20%; 
    cursor: pointer;

}

.point_5 svg{
    position: relative;
    transition: all 0.5s ease;
}

.point_5 img {
    display: none;
    position: absolute;
    top: -340%;
    left: -165%;
    transition: all 0.5s ease;
    z-index: 2;
}

.point_5:hover img {
    display: flex;
    transition: all 0.5s ease;
}
.point_5:hover svg {
    fill: rgb(64, 231, 209);
}
