.footer {
    width: 100vw;
    height: 100%;
    /* background-image: url(../../img/3_bg.jpg);
     background-size: cover;
    background-repeat: no-repeat; */

}

.footer_wrapper {
    width: 100vw;
    height: 100%;
    /* background-color: rgba(0, 0, 0, 20%); */
}


.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    height: 100%;
}

.footer_content {
    display: flex;
    flex-direction: column;
align-items: center;   
 flex-wrap: wrap;
    gap: 25px;
}
.icons_footer{
    display: flex;
    gap: 60px;
    margin-top: 120px;
}

.icons_footer img{
    cursor: pointer;
    background: none;
    border-radius: 50%;
    transition: all 0.3s linear;
    width: 65px;
}
.icons_footer img:hover{
    background: #FED494;
}
.links_footer{
    display: flex; 
    gap: 50px;
}
.links_footer a{
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
    text-decoration: none;
    transition: all 0.3s linear;
}

.links_footer a:hover{
    color: #FED494;
}
.back_footer h6{
    font-family: 'Kadwa';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    color: #FFFFFF;
}